html,body {
	overflow: hidden;
}

body {
    font-family: "San Francisco", "Helvetica Neue", Arial, sans-serif;
}


*{
	position: relative;
	box-sizing: border-box;
}

.imgnote-app {
	overflow: scroll;
	width: 100vw;
	height: 100vh;
	background-color: #ccc;
}

.imgnote-container {
	width: 100%;
	height: 100%;
}

img.logo-icon {
	height: 20pt;
	margin: 0 2px;
	vertical-align: bottom;
}

.imgnote-app-information-container {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}



.imgnote-app-information-questionmark {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1.0);
	background: url("icon/questionmark.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 26px;
	height: 26px;
	opacity: 0.2;
	transition: all 0.3s ease;
}

.imgnote-app-information-questionmark:hover {
	transform: translate(-50%, -50%) scale(1.1);
	opacity: 1.0;
}

.imgnote-app-information-questionmark:active {
	transform: translate(-50%, -50%) scale(0.9);
}

/* ------------------------------------ */
.imgnote-help {
    max-height: 80vh;
    width: auto;
	overflow: scroll;
	padding-bottom: 30px;
	padding-right: 14px;
}

.imgnote-help-abstract {
	padding: 10px;
	padding-top: 0px;
	font-size: 12pt;
	line-height: 23pt;
	font-weight: 400;
	color: #333;
	text-align: center;
}

.imgnote-help-abstract i {
	width: 26px;
	height: 15pt;
    display: inline-block;
    text-align: center;
	font-family: "Arial", sans-serif;
    font-weight: 300;
    line-height: 15pt;
    font-style: normal;
    margin: 0 5px;
    padding: 0px 0px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 1px #111;
}

.imgnote-help-abstract img {
    vertical-align: middle;
    vertical-align: bottom;
    height: 1.1em;
    text-align: center;
}

.imgnote-help-shortcuts table {
	font-size: 10pt;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.imgnote-help-shortcuts th, .imgnote-help-shortcuts td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.imgnote-help-shortcuts th.action {
	border-right: 1px solid #ddd;
}

.imgnote-help-shortcuts td.action {
	border-right: 1px solid #ddd;
	width: 60%;
}

.imgnote-help-shortcuts td.icon {
	width: 40%;
}

.imgnote-help-shortcuts th {
    background-color: #f2f2f2;
}

.imgnote-help-shortcuts td {
    color: #888;
}

.imgnote-help-shortcuts tr:hover {
    background-color: #f5f5f5;
}

.imgnote-help-shortcuts table tr:first-child th,
.imgnote-help-shortcuts table tr:last-child td {
    border-bottom: none;
}

.imgnote-help-shortcuts .icon th {
	text-align: center;
}



.imgnote-help .icon i {
	width: 30px;
    display: inline-block;
    text-align: center;
	font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 7px;
    padding: 2px 0px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 2px #111;
}

.imgnote-help-shortcuts img {
    vertical-align: middle;
    height: 1.2em;
}


/* ------------------------------------ */

.imgnote-loading-container {
	width: 80vw;
	height: 50vh;
	min-width: 500px;
	min-height: 300px;
}

/* --- */
.imgnote-loading-img-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
    text-align: center;
    cursor: pointer;
}

.imgnote-loading-img-input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: calc(100% - 10px);
	height: calc(100% - 20px);
    border: 1px dashed rgb(185,28,28,1.0);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(0,0,0,0.05);
	box-shadow: none;
}

.imgnote-loading-img-input.loaded {
    background-color: #fff;
    border: 1px dashed rgb(15,28,128,1.0);
}

.imgnote-loading-img-input.dragover{
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgb(185,28,28,1.0);
}

.imgnote-loading-img-input.loaded.dragover {
    border: 1px dashed ;
	box-shadow: 0 0 5px rgb(15,28,128,1.0);
}

.imgnote-loading-img-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.imgnote-loading-img-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border: none;
    outline: none;
	object-fit: contain;
}

.imgnote-loading-img-preview.loaded {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.imgnote-loading-img-preview.failed {
	top: 30%;
	z-index: 1;
}

/* --- */

.imgnote-loading-data-container {
	position: absolute;
	bottom: 0;
	right: 0;
    width: 50%;
    height: 100%;
}

.imgnote-loading-data-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 10px);
	height: calc(100% - 20px);
	resize: none;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: scroll;
	font-family: monospace;
	font-size: 10pt;
	tab-size: 4;
	outline: none;
	border: 1px solid #ccc;
	box-shadow: none;
}
/*  */
.imgnote-loading-data-text {
	border: 1px solid rgb(185,28,28);
	box-shadow: none;
}
.imgnote-loading-data-text:focus {
	border: 1px solid rgb(185,28,28);
	box-shadow: 0 0 4px rgb(185,28,28);
}
.imgnote-loading-data-text.valid {
	border: 1px solid rgb(15,28,128);
	box-shadow: none;
}

.imgnote-loading-data-text.valid:focus {
	border: 1px solid rgb(15,28,128);
	box-shadow: 0 0 4px rgb(15,28,128);
}
/**/

.imgnote-loading-data-text.dragover{
	background-color: #ccc;
}

.imgnote-loading-data-open-file {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
	background-image: url("icon/open.svg");
	background-repeat: no-repeat;
	background-position: center;
    color: #fff;
    background-color: #bbb;
    border: none;
    transform: scale(1.0);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
}

.imgnote-loading-data-open-file:hover {
    transform: scale(1.1);
    background-color: #aaa;
}

.imgnote-loading-data-open-file:active {
    transform: scale(1.0);
    background-color: #999;
}

.imgnote-fullscreen-message-button.valid {
	background-color: #007bff;
	opacity: 1.0;
}


.imgnote-fullscreen-message-button.not-valid {
	opacity: 0.3;
	background-color: rgb(185,28,28);
}
.imgnote-fullscreen-message-button.not-valid:hover {
	transform: translateY(0px);
    animation: horizontal-shaking 0.2s;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}


/* ------------------------------------ */

.none {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.left-center {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}

.right-center {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
}

.top-center {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
}

.bottom-center {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
}

/* ------------------------------------ */
.imgnote-img-container {
	background-color: #ccc;
	object-fit: contain;
}

.imgnote-img-container.center{
	height: 100%;
	width: 100%;
}
.imgnote-img-container.left-center,
.imgnote-img-container.right-center {
	height: 100%;
	width: 50%;
}
.imgnote-img-container.top-center,
.imgnote-img-container.bottom-center{
	height: 50%;
	width: 100%;
}

.imgnote-img-container.left-center {
	border-right: 1px solid #888;
}
.imgnote-img-container.right-center {
	border-left: 1px solid #888;
}

.imgnote-img-container.top-center{
	border-bottom: 1px solid #888;
}

.imgnote-img-container.bottom-center{
	border-top: 1px solid #888;
}

/* --- */

.imgnote-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* --- */

.imgnote-note {
	position: absolute;
	transform: scale(1.0);
	background-color: red;
	border-radius: 100%;
	border: 0.5px solid #000;

	transition: box-shadow 0.3s ease, 
				transform 0.3s ease,
				background-color 0.3s ease;
}

.imgnote-note:hover {
    transform: scale(1.2);
}

.imgnote-note.selected {
    background-color: yellow;
    transform: scale(1.2);
    box-shadow: 0px 0px 16px rgb(200, 200, 100),
                0px 0px 16px rgb(200, 200, 100);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        box-shadow: 0px 0px 0px rgb(200, 200, 100),
                    0px 0px 0px rgb(200, 200, 100);
    }
}

/* --- */
.imgnote-note-container {
	background-color: #fff;
	overflow: scroll;
	padding: 0px;
	margin: 0px;
}

.imgnote-note-container.center{
	height: 100%;
	width: 100%;
}
.imgnote-note-container.left-center,
.imgnote-note-container.right-center {
	height: auto;
	width: 50%;
}
.imgnote-note-container.top-center {
	height: auto;
	width: 100%;
	top: 25%;
	transform: translate(-50%, -50%);
}

.imgnote-note-container.bottom-center {
	height: auto;
	width: 100%;
	bottom: 25%;
	transform: translate(-50%, 50%);
}
/* --- */
.imgnote-main-title {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	color: #555;
	background-color: rgba(255,255,255,0.8);
	border-radius: 0 0 20px 20px;
	padding: 20px 10%;
	max-width: 100%;
	width: auto;
	z-index: 1000;
	transition: all 0.3s ease;
}
.imgnote-main-title.show {
	transform: translate(-50%, 0);
}

.imgnote-main-title-input {
	outline: none;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 30pt;
}

/* --- */
.imgnote-note-title {
	width: 100%;
}

h4.imgnote-note-label {
	font-size: 15pt;
	margin: 0;
	padding: 10px 20px;
    color: #000;
}

h5.imgnote-note-label {
	font-size: 10pt;
	margin: 0;
	padding: 0px 20px;
    color: #000;
}

input.imgnote-note-value {
    font-size: 15pt;
    font-weight: 400;
    color: #000;
}

label.imgnote-note-value {
    font-size: 10pt;
    font-weight: 400;
    color: #ccc;
}

.imgnote-note-text {
	width: calc(100% - 20px);
	resize: vertical;
	margin: 10px;
	background-color: #fff;
	color: #888;
}

.imgnote-note-text::placeholder {
  color: #888;
  opacity: 1;
}


/* --- */
.imgnote-blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1000; /* Adjust z-index as needed */
}

.imgnote-fullscreen-message-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; /* Adjust z-index as needed */
}

.imgnote-fullscreen-message-box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);  
	width: auto;

    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.imgnote-fullscreen-message-text {
    padding: 15px;
    font-size: 18px;

	overflow: hidden;
    max-height: 100%;
    text-align: center;
}

.imgnote-fullscreen-message-code {
	width: 100%;
	min-width: 200px;
	max-width: 90vw;
	max-height: 60vh;
	overflow: scroll;
	font-family: monospace;
	font-size: 10pt;
	tab-size: 4;
	margin: 0;
	padding: 10px;
	padding-right: 50px;
	border: 0.5px solid #ccc;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.0);
}
.imgnote-fullscreen-message-code.copyed{
	background-color: rgba(0,0,0,0.05);
}

.imgnote-fullscreen-message-code::-webkit-scrollbar {
	display: none;
}

.imgnote-fullscreen-message-copy-button {
    position: absolute;
    display: block;
    top: 7px;
    right: 7px;
    width: 35px;
    height: 35px;
	background-image: url("icon/copy.svg");
	background-repeat: no-repeat;
	background-position: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    transform: scale(1.0);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.imgnote-fullscreen-message-copy-button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.imgnote-fullscreen-message-copy-button:active {
    transform: scale(1.0);
    background-color: #0056bb;
}

.imgnote-fullscreen-message-buttons-container {
	width: 100%;
	text-align: center;
}

.imgnote-fullscreen-message-button {
	display: inline-block;
	margin: 0 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1005;
    background-color: #999;
	color: #fff;
	border: 3px solid #fff;
    outline: 3px solid #fff;
}

.imgnote-fullscreen-message-button:focus {
	border: 3px solid #fff;
    outline: 3px solid rgb(10,100,255);
}

.imgnote-fullscreen-message-close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scale(1.0);
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: all 0.3s ease;
}

.imgnote-fullscreen-message-close-button:hover{
	transform: translateY(-50%) scale(1.2);
}

.imgnote-fullscreen-message-close-button:active{
	transform: translateY(-50%) scale(1.0);
}

/* --------------------------- */
.imgnote-find-find{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 300px;
	min-width: ;
	padding: 7px 10px;
	padding-left: 35px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 3px #888;
}

.imgnote-find-icon{
	position: absolute;
	left: 7px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-image: url("icon/search.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.imgnote-find-input{
	outline: none;
	border: none;
	width: 220px;
}

.imgnote-find-close{
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translateY(-50%) scale(1.0);
	width: 24px;
	height: 24px;
	text-align: center;
	user-select: none;
	font-size: 18.5px;
	transition: all 0.3s ease;
	border-radius: 5px;
	cursor: pointer;
}

.imgnote-find-close:hover {
	background-color: rgba(0,0,0,0.05);
	transform: translateY(-50%) scale(1.1);
}

.imgnote-find-close:active {
	transform: translateY(-50%) scale(0.9);
}





