html,body {
	overflow: hidden;
}

*{
	position: relative;
	box-sizing: border-box;
}

.imgnote-app {
	overflow: scroll;
	width: 100vw;
	height: 100vh;
	background-color: #ccc;
}

.imgnote-container {
	width: 100%;
	height: 100%;
}

/* ------------------------------------ */

.none {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.left-center {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}

.right-center {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
}

.top-center {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
}

.bottom-center {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
}

/* ------------------------------------ */
.imgnote-img-container {
	background-color: #ccc;
	object-fit: contain;
}

.imgnote-img-container.center{
	height: 100%;
	width: 100%;
}
.imgnote-img-container.left-center,
.imgnote-img-container.right-center {
	height: 100%;
	width: 50%;
}
.imgnote-img-container.top-center,
.imgnote-img-container.bottom-center{
	height: 50%;
	width: 100%;
}

.imgnote-img-container.left-center {
	border-right: 1px solid #888;
}
.imgnote-img-container.right-center {
	border-left: 1px solid #888;
}

.imgnote-img-container.top-center{
	border-bottom: 1px solid #888;
}

.imgnote-img-container.bottom-center{
	border-top: 1px solid #888;
}

/* --- */

.imgnote-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* --- */

.imgnote-note {
	position: absolute;
	transform: scale(1.0);
	background-color: red;
	border-radius: 100%;
	border: 0.5px solid #000;

	transition: box-shadow 0.3s ease, 
				transform 0.3s ease,
				background-color 0.3s ease;
}

.imgnote-note:hover {
    transform: scale(1.2);
}

.imgnote-note.selected {
    background-color: yellow;
    transform: scale(1.2);
    box-shadow: 0px 0px 16px rgb(200, 200, 100),
                0px 0px 16px rgb(200, 200, 100);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        box-shadow: 0px 0px 0px rgb(200, 200, 100),
                    0px 0px 0px rgb(200, 200, 100);
    }
}

/* --- */
.imgnote-note-container {
	background-color: #fff;
	overflow: scroll;
	padding: 0px;
	margin: 0px;
}

.imgnote-note-container.center{
	height: 100%;
	width: 100%;
}
.imgnote-note-container.left-center,
.imgnote-note-container.right-center {
	height: auto;
	width: 50%;
}
.imgnote-note-container.top-center,
.imgnote-note-container.bottom-center{
	height: auto;
	top: 0;
	bottom: unset;
	width: 100%;
}

/* --- */
.imgnote-note-title {
	width: 100%;
}

h4.imgnote-note-label {
	font-size: 15pt;
	margin: 0;
	padding: 10px 20px;
    color: #000;
}

h5.imgnote-note-label {
	font-size: 10pt;
	margin: 0;
	padding: 0px 20px;
    color: #000;
}

input.imgnote-note-value {
    font-size: 15pt;
    font-weight: 400;
    color: #000;
}

label.imgnote-note-value {
    font-size: 10pt;
    font-weight: 400;
    color: #ccc;
}

.imgnote-note-text {
	width: calc(100% - 20px);
	resize: vertical;
	margin: 10px;
	background-color: #fff;
	border: 0.5px solid #ccc;
	color: #888;
}

.imgnote-note-text::placeholder {
  color: #888;
  opacity: 1;
}


/* --- */
.imgnote-blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1000; /* Adjust z-index as needed */
}

.imgnote-fullscreen-message-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; /* Adjust z-index as needed */
}

.imgnote-fullscreen-message-box {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);  
    width: 40%;
    min-width: 300px;

    padding: 20px;
    padding-top: 35pt;
    padding-bottom: 15px;
}

.imgnote-fullscreen-message-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-size: 18px;

	overflow: hidden;
    max-height: 100%;
    text-align: center;
}

.imgnote-fullscreen-message-code {
	width: 100%;
	min-width: 200px;
	max-width: 800px;
	max-height: 400px;
	overflow: scroll;
	font-family: monospace;
	font-size: 10pt;
	tab-size: 4;
	margin: 0;
	padding: 10px;
	border: 0.5px solid #ccc;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.0);
}
.imgnote-fullscreen-message-code.copyed{
	background-color: rgba(0,0,0,0.05);
}

.imgnote-fullscreen-message-code::-webkit-scrollbar {
  display: none;
}

.imgnote-fullscreen-message-copy-button {
    position: absolute;
    display: block;
    top: 7px;
    right: 7px;
    width: 35px;
    height: 35px;
	background-image: url("icon/copy.svg");
	background-repeat: no-repeat;
	background-position: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    transform: scale(1.0);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.imgnote-fullscreen-message-copy-button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.imgnote-fullscreen-message-copy-button:active {
    transform: scale(1.0);
    background-color: #0056bb;
}

.imgnote-fullscreen-message-buttons-container {
	margin-top: 5px;
	width: 100%;
	text-align: center;
}

.imgnote-fullscreen-message-button {
	display: inline-block;
	margin: 0 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1005;
    background-color: #999;
	color: #fff;
	border: 3px solid #fff;
    outline: 3px solid #fff;
}

.imgnote-fullscreen-message-button:focus {
	border: 3px solid #fff;
    outline: 3px solid rgb(10,100,255);
}

.imgnote-fullscreen-message-close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scale(1.0);
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: all 0.3s ease;
}

.imgnote-fullscreen-message-close-button:hover{
	transform: translateY(-50%) scale(1.2);
}

.imgnote-fullscreen-message-close-button:active{
	transform: translateY(-50%) scale(1.0);
}













